/* /////////////////////////////////css/admin.scss///////////////////////////////////////////*/
@font-face {
  font-family: "Futura LT Pro";
  src: url("./fonts/Futura.woff") format("woff");
}

@font-face {
  font-family: Minion-Italic;
  src: url("./fonts/Minion-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Futura Medium";
  src: url("./fonts/FuturaLight.woff") format("woff");
}

@font-face {
  font-family: Imagoproboo;
  src: url("./fonts/ImagoProBoo.otf") format("opentype");
}

#body,
html {
  /* cursor: none; */
  overflow: hidden;
  display: flex;
  flex-flow: column;
  height: 100% !important;
  font-family: "Futura LT Pro", Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", "Open Sans", sans-serif;
  color: #222;
  -webkit-user-select: none;
  /* Safari, Chrome */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE */
  user-select: none;
  /* CSS3 */
}

body {
  background-color: rgb(250, 249, 248);
}




/* line 10, app/public/assets/styles/admin/admin.scss */
header {
  align-items: center;
  flex: 0 0 64px;
  font-size: 2rem;
  z-index: 5;
  width: 100%;
  height: 60px;
  color: #222222;
  /* background-color: rgb(250, 249, 248); */
  background-color: #C3FFB6;

}

/* line 22, app/public/assets/styles/admin/admin.scss */
button {
  padding: 0.5rem;
  color: black;
  background-color: #4d5765;
}

/* line 28, app/public/assets/styles/admin/admin.scss */
button:hover {
  background-color: #636f82;
}

/* line 32, app/public/assets/styles/admin/admin.scss */
header .logo {
  height: 40px;
}

/* line 36, app/public/assets/styles/admin/admin.scss */
header h1 {
  font-size: 2rem;
  font-weight: bolder;
  display: inline-block;
}

header h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  display: inline-block;
}

/* line 42, app/public/assets/styles/admin/admin.scss */
header a {
  color: white;
}

/* line 46, app/public/assets/styles/admin/admin.scss */
header a:hover {
  color: #ffcc00;
}

/* line 55, app/public/assets/styles/admin/admin.scss */
.admin-filter {
  border: 1px solid #3366cc;
  border-radius: 0.8rem;
  background: #282c34;
}

/* line 61, app/public/assets/styles/admin/admin.scss */
.admin-filter h5 {
  color: #3366cc;
}

/* line 65, app/public/assets/styles/admin/admin.scss */
#body input {
  color: #9da5b4;
  background-color: #21252b;
}

/* line 70, app/public/assets/styles/admin/admin.scss */
select {
  color: #9da5b4;
  background-color: #21252b;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 78, app/public/assets/styles/admin/admin.scss */
#admin-list-touchpanels {
  border-color: #3366cc;
}

/* line 82, app/public/assets/styles/admin/admin.scss */
#admin-list-touchpanels.table td,
th {
  border-color: #3366cc;
}

/* line 87, app/public/assets/styles/admin/admin.scss */
#admin-list-touchpanels>thead>tr {
  background-color: #282c34;
  color: #3366cc;
  font-weight: bolder;
}

/* line 93, app/public/assets/styles/admin/admin.scss */
#admin-list-touchpanels>tbody>tr {
  transition: fill 300ms ease-out, stroke 300ms ease-out, background-color 300ms ease-out, color 300ms ease-out;
  background-color: #282c34;
}

/* line 98, app/public/assets/styles/admin/admin.scss */
#admin-list-touchpanels>tbody>tr:hover {
  background-color: #1f3d7a;
}

/* line 102, app/public/assets/styles/admin/admin.scss */
#admin-list-touchpanels article {
  overflow: hidden;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  transition: fill 300ms ease-out, stroke 300ms ease-out, background-color 300ms ease-out, color 300ms ease-out;
  border: 2px solid;
  border-color: #707070;
  border-radius: 0.8rem;
  background-color: #282c34;
}

/* line 113, app/public/assets/styles/admin/admin.scss */
#admin-list-touchpanels article:hover {
  background-color: #2e343c;
}

/* line 117, app/public/assets/styles/admin/admin.scss */
#admin-list-touchpanels tr[data-display='false'] {
  display: none;
}

/* line 121, app/public/assets/styles/admin/admin.scss */
#admin-list-touchpanels tr .online-status {
  font-weight: bolder;
  color: #3366cc;
}

/* line 126, app/public/assets/styles/admin/admin.scss */
#admin-list-touchpanels tr .online-status {
  display: none;
  font-size: 3rem;
}

/* line 131, app/public/assets/styles/admin/admin.scss */
#admin-list-touchpanels tr[data-status=''] .online-status.loading {
  color: #3366cc;
  display: inline;
}

/* line 136, app/public/assets/styles/admin/admin.scss */
#admin-list-touchpanels tr[data-status='Online'] .online-status.online {
  color: #348017;
  display: inline;
}

/* line 141, app/public/assets/styles/admin/admin.scss */
#admin-list-touchpanels tr[data-status='Offline'] .online-status.offline {
  color: #c32934;
  display: inline;
}

/* line 146, app/public/assets/styles/admin/admin.scss */
#admin-list-touchpanels tr header {
  font-size: 1.8rem;
  font-weight: bolder;
  color: #3366cc;
  border-bottom: 1px solid #707070;
}

/* line 153, app/public/assets/styles/admin/admin.scss */
#admin-list-touchpanels tr aside {
  font-size: 1.5rem;
}

/* line 160, app/public/assets/styles/admin/admin.scss */
#admin-list-touchpanels footer a {
  color: #3366cc;
}

/* line 164, app/public/assets/styles/admin/admin.scss */
#admin-list-touchpanels footer a:hover {
  color: #006793;
}

/* line 168, app/public/assets/styles/admin/admin.scss */
#admin-edit-title {
  padding: 0.5rem 1rem;
}

/* line 172, app/public/assets/styles/admin/admin.scss */
#admin-edit-ip {
  font-size: 2.8rem;
  display: block;
  margin-bottom: 7px;
  color: #3366cc;
}

/* line 179, app/public/assets/styles/admin/admin.scss */
#admin-edit-touchpanel-json .btn-group {
  font-size: 0.8rem;
  display: inline-block;
}

/* line 184, app/public/assets/styles/admin/admin.scss */
#admin-edit-touchpanel-json h4 {
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* line 190, app/public/assets/styles/admin/admin.scss */
#admin-edit-touchpanel-json label {
  width: 150px;
}

/* line 194, app/public/assets/styles/admin/admin.scss */
#admin-edit-touchpanel-json input {
  width: 500px;
}

/* line 198, app/public/assets/styles/admin/admin.scss */
#admin-edit-touchpanel-json .column {
  padding-left: 40px;
}

/* line 202, app/public/assets/styles/admin/admin.scss */
#admin-edit-touchpanel-json .column:hover,
#admin-edit-touchpanel-json .form-group:hover {
  background-color: #21252b;
}

/* line 207, app/public/assets/styles/admin/admin.scss */
#admin-list-touchpanels tr button {
  font-size: 2rem;
  padding: 0.5rem;
  color: #142952;
  background-color: #2952a3;
}

/* line 214, app/public/assets/styles/admin/admin.scss */
#admin-list-touchpanels tr button:hover {
  background-color: #3366cc;
}

/* line 218, app/public/assets/styles/admin/admin.scss */
#admin-body .btn--success {
  background-color: #5CB85C;
}

/* line 222, app/public/assets/styles/admin/admin.scss */
#admin-body .btn--danger {
  color: #ea9ba1;
  background-color: #992029;
}

/* line 227, app/public/assets/styles/admin/admin.scss */
#admin-body .btn--danger:hover {
  background-color: #d84751;
}

/* line 231, app/public/assets/styles/admin/admin.scss */
.admin-delete-touchpanel:hover {
  color: #992029;
}

/* line 235, app/public/assets/styles/admin/admin.scss */
.btn--group {
  font-size: 0;
  white-space: collapse;
}

/* line 240, app/public/assets/styles/admin/admin.scss */
.btn--group> :first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

/* line 245, app/public/assets/styles/admin/admin.scss */
.btn--group> :last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/* line 250, app/public/assets/styles/admin/admin.scss */
#admin-alarm-identifier {
  transition: fill 300ms ease-out, stroke 300ms ease-out, background-color 300ms ease-out, color 300ms ease-out;
}

/* line 254, app/public/assets/styles/admin/admin.scss */
#admin-alarm-identifier[data-danger='true'] {
  font-size: 1.2rem;
  padding: 0.2rem;
  color: #ea9ba1;
  background-color: #992029;
}

/* line 261, app/public/assets/styles/admin/admin.scss */
#admin-alarm-identifier[data-danger='true']:hover {
  font-size: 1.2rem;
  padding: 0.2rem;
  background-color: #6f171e;
}

/* line 267, app/public/assets/styles/admin/admin.scss */
#admin-alarm-identifier[data-danger='false'] {
  font-size: 1.2rem;
  padding: 0.2rem;
  background-color: #3366cc;
}

/* line 273, app/public/assets/styles/admin/admin.scss */
.dropdown-menu a {
  text-decoration: none;
}

#loader {
  background: white;
}

main {
  flex: 1 1 auto;
}

footer {
  align-items: center;
  flex: 0 0 80px;
  padding-right: 20px;
  padding-left: 20px;
  /* color: white; */
  /* background-color: rgb(250, 249, 248); */
  background-color: #C3FFB6;
  /* font-size: 50px; */
}

.numeric-keyboard {
  width: 600px;
}

#password-field {
  width: 560px;
}

#keyboard {
  /* max-width: 500px; */
  margin: auto;
  margin-bottom: 5rem;
}

/*
main {
  margin: auto;
} */

button[type="submit"] {
  visibility: hidden;
}

footer .menu[data-is-active="true"],
footer .menu[data-is-active="true"]:hover {
  color: #ffcc00;
}


#body input[data-is-active="true"] {
  background-color: #99ccff;
  color: #212529
}

.full-width {
  width: 100%;
}

.simple-keyboard {
  width: 100%;
  height: 400px;
  padding: 20px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
}

.simple-keyboard.dark {
  background-color: #21252b;
  max-width: 500px;
  margin: 0 auto;
}

.simple-keyboard.dark .hg-button.hg-functionBtn.hg-button-space {
  min-width: 150px;
  max-width: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.simple-keyboard.dark .hg-button {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.simple-keyboard.dark .hg-button[data-skbtnuid^="numbers-"] {
  width: 33%;
  max-width: none;
}

.simple-keyboard.dark .hg-button-numbers {
  max-width: 80px;
}

.simple-keyboard.dark .hg-button.hg-functionBtn.hg-button-ent {
  max-width: 80px;
}

.simple-keyboard.dark .hg-button:active {
  background: #1c4995;
  color: white;
}

.loading[data-loading="true"] .loading-false,
.loading[data-loading="false"] .loading-true {
  visibility: hidden;
}

.loading[data-loading="true"] .loading-true,
.loading[data-loading="false"] .loading-false {
  visibility: visible;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]+label {
  padding: 0.3rem 0.5rem;
  border: 1px solid #9da5b4;
}

input[type="radio"]:checked+label {
  color: #9ce4ac;
  background-color: #128c2d;
}

#main-config {
  width: 600px;
}


/* #body a,
#body button,
#body input,
#body select,
#body label,
#body .simple-keyboard.dark .hg-button {
  cursor: none;
} */


.container {
  position: relative;
  max-width: 100%;
  margin: auto;

}

#webcam {
  margin: auto;
  display: block;
}

.overlay {
  text-align: center;
  font-weight: bold;
  position: absolute;
  width: 100%;
  margin: auto;
  top: 0;

  left: 0;
  z-index: 1;

}

#info {
  display: none;
  margin: auto;
  top: 10%;
  opacity: 0.8;
  padding: 0;
  margin-top: 5rem;
}

#info div {
  background-color: #d5d5d5;
  width: 30rem;
  margin: auto;

}

/* #Info {
  padding: 10px;
  margin: 0;
  height: 140px;
} */

.button_container {
  text-align: center;
}

#snapshot {
  display: none;
  margin: auto;
}

#canvas {
  display: none;
}

.popover {
  max-width: 300px;
}




/*# sourceMappingURL=admin.css.map */